/* @import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap'); */

@font-face {
    font-family: "Imprima";
    src: url(./fonts/Imprima-Regular.ttf);
}

@font-face {
    font-family: "IslandMoments";
    src: url(./fonts/IslandMoments-Regular.ttf);
}

/* @font-face {
    font-family: ;
    src: url();
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #fff;
    --preto: #000;
    --cor-da-raizes-e-aromas: #9CAF88;
    --cor-da-paleta: #A8B5A2;
    --cor-da-paleta-Verde-Escuro: #0F5E0E;
    --cor-da-paleta-Marrom: #8B6C42;

}

.espaco-lateral {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;

}

/* --------------Banner-------------- */

.Banner-Inicial {
    display: flex;
    justify-content: center;
    /* Para Centralizar*/

    max-width: 2560px;
    height: 1195px;
    /* Tamanho Adequado */
}

/* -------------Menu------------- */

header {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

header img {
    width: 200px;

}

.menu {
    max-width: 700px;
    width: 70%;
    display: flex;
    justify-content: space-between;

}

.menu a {
    font-size: 23px;
    color: var(--preto);
    text-decoration: none;
    text-transform: uppercase;

    font-family: "Imprima";

}

.menu a #Login {
    background-color: var(--cor-da-paleta-Verde-Escuro);
    border-radius: 20px;

}

.menu a:hover {
    color: var(--cor-da-raizes-e-aromas);
    transition: 300ms;

}

/* --------------Menu de Hamburguer-------------- */

#icone-barras,
#icone-x,
#menu_botao {
    display: none;

}



/* ------------Responsividade------------ */

@media screen and (max-width: 768px) {

    #sombra {
        background-color: var(--cor-da-raizes-e-aromas);
        backdrop-filter: blur(15px);
        z-index: 1;
        position: fixed;

        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: .5s;

    }

    #menu_botao {
        display: block;
        z-index: 1;

    }

    header {
        position: relative;

    }

    header button {
        width: 50px;
        background: none;

        border: none;
        display: unset;

        cursor: pointer;
    }

    header svg {
        fill: var(--cor-da-paleta-Marrom);
    }

    #icone-barras {
        display: block;

    }

    nav.menu {
        width: 200px;
        padding: 0px 30px;
        flex-direction: column;
        justify-content: space-around;

        gap: 15px;
        position: fixed;
        top: 165px;
        right: -210px;
        z-index: 1;

        transition: .5s;

    }

    .menu a {
        color: var(--preto);
    }

}

/* .banner {
    display: flex;
    justify-content: space-evenly;
    align-items: space-between;
    justify-content: flex-start;
    align-self: flex-start;

} */

/* ------------Sobre a Loja------------ */
#Sobre-Loja {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-bottom: 120px;

}

/* /* #Sobre h2 {
    margin-right: -15px;
    margin-left: 40px;
    margin-bottom: 290px; 

} */

#Sobre-Loja p {
    font-family: "Imprima";
    font-size: 25px;
    text-align: justify;
    margin-top: 300px;

}

/* ------------------------------------------ */

#Favicon {
    max-width: 460px;
    width: 40%;

    margin-top: 80px;
    justify-content: center;
    align-items: center;
    display: flex;

    /* margin-left: 600px; */
}

.Título-Loja {
    margin-top: 300px;
    font-weight: 400;
    font-size: 35px;
    margin-left: 200px;

    text-align: center;
    align-items: center;
    margin-right: 200px;
    font-family: "IslandMoments";

}

#Loja p {
    text-align: flex;
    margin-top: 100px;
    color: var(--preto);

}

/* ----------------Promoções---------------- */

#promo img {
    border-radius: 90px;
    margin-top: 400px;

    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);

}

#Promoções {
    display: flex;
    justify-content: center;

    margin-top: 600px;
}

#Promoções h1 {
    font-family: "IslandMoments";
    font-size: 55px;

}

#Produtos {
    margin-top: 300px;
    display: flex;
    justify-content: center;

    height: 600px;
    gap: 120px;
    /* box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3); */

}

#Produtos .card {
    background-color: var(--cor-da-paleta-Marrom);

    width: 400px;
    height: 700px;
    margin: 60px;
    border-radius: 50px;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-family: "Imprima";
    font-size: 30px;



}

.card h3,
p {
    font-family: "Imprima";
    font-size: 40px;
    margin-top: 30px;
    color: #f2f2f2;

}

.card img {
    height: 450px;
    padding: 30px 30px;
}

/* ---------------Login--------------- */
.título {
    margin-top: 500px;
    font-family: "Imprima";
    margin-top: 300px;
    font-weight: 400;
    font-size: 35px;
    margin-left: 200px;

    text-align: center;
    align-items: center;
    margin-right: 200px;

}

#Login {
    margin-top: 100px;
    margin-bottom: 220px;
    background-color: var(--cor-da-paleta);
    border-radius: 50px;

    box-shadow: 9px 9px rgba(0, 0, 0, 0.3);
    padding-top: 30px;
}

#Login h2 {
    padding-bottom: 105px;
    font-family: "Imprima";
    font-size: 30px;
    color: var(--branco);


    justify-content: center;
    display: flex;
}

/* #Login img {
    display: flex;
    justify-content: space-between;

    margin-left: 900px;
} */

#Login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.campo {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 920px;
    gap: 10px;
}

.campo input {
    color: var(--preto);

    border-top: 3px solid var(--cor-da-raizes-e-aromas);
    border-right: 5px solid var(--cor-da-raizes-e-aromas);
    border-bottom: 10px solid var(--cor-da-raizes-e-aromas);
    border-left: 6px solid var(--cor-da-raizes-e-aromas);

    border-radius: 10px;

    height: 85px;
    font-size: 40px;
    font-family: "Imprima";
    padding-left: 10px
}


.campo-descricao textarea {
    color: var(--preto);

    border-top: 3px solid var(--cor-da-raizes-e-aromas);
    border-right: 5px solid var(--cor-da-raizes-e-aromas);
    border-bottom: 10px solid var(--cor-da-raizes-e-aromas);
    border-left: 6px solid var(--cor-da-raizes-e-aromas);

    border-radius: 10px;

    height: 85px;
    font-size: 40px;
    font-family: "Imprima";
    padding-left: 10px
}

.campo-descricao {
    width: 920px;
    ;
    text-align: left;

    font-size: 40px;
    font-family: "Imprima";

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 30px;
}

.campo-descricao textarea {
    color: var(--preto);
    background-color: var(--branco);

    border: none;
    border-radius: 4px;
    outline: none;
    padding: 10px;

    height: 500px;

    border-top: 3px solid var(--cor-da-raizes-e-aromas);
    border-right: 5px solid var(--cor-da-raizes-e-aromas);
    border-bottom: 10px solid var(--cor-da-raizes-e-aromas);
    border-left: 6px solid var(--cor-da-raizes-e-aromas);

    resize: none;
}

.campo textarea {
    color: var(--preto);

    border-top: 3px solid var(--cor-da-raizes-e-aromas);
    border-right: 5px solid var(--cor-da-raizes-e-aromas);
    border-bottom: 10px solid var(--cor-da-raizes-e-aromas);
    border-left: 6px solid var(--cor-da-raizes-e-aromas);

    border-radius: 10px;

    height: 185px;
    font-size: 40px;
    font-family: "Imprima";
    padding-left: 10px
}

.campo label {
    color: var(--preto);
    font-size: 40px;
    text-decoration: none;
    font-family: "Imprima"
}

#Login form button {
    background-color: var(--cor-da-paleta-Verde-Escuro);
    margin-top: 10px;
    height: 65px;
    width: 412px;
    border: none;
    border-radius: 15px;
    color: var(--branco);
    font-size: 40px;

    margin-bottom: 50px;

}

/* ----------Footer---------- */


footer {
    background-color: #000;

}

footer p {
    font-family: "Imprima";
    font-size: 15px;

    margin-left: 140px;
    padding-top: 30px;

}

.icones-redes {
    margin-left: 800px;
}

footer img{
    justify-content: center;
    display: flex;
    
}